@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900;1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Nunito", sans-serif;
}

.size {
  width: 75vw;
  margin: 0 auto;
}
.size1 {
  width: 95vw;
  margin: 0 auto;
}
.font1 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
.font2 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}
.mainColor {
  color: #ff6899;
}
.mainColor2 {
  color: #2ebeef;
}
.hight {
  height: 684px;
}
.mainBG {
  background-color: #2ebeef;
}
.mainBG2 {
  background-color: #ff6899;
}
