@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700;800;900;1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.size {
  width: 80vw;
  margin: 0 auto;
}
.font1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}
.font2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}
